# Hugo default output directory
/public

## OS Files
# OSX
.DS_Store
static/.DS_Store
static/images/.DS_Store

# generated css file
resources/_gen/assets/scss/sass/styles.scss_c253c1450adff31bb2ccb2afd691b09e.content
.~lock.*
.hugo_build.lock
