{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
  <header>
	<div id="printHeader" style="display:none">
	  <img src="/images/printHeader.png" width="100%" />
	  </div>
<h1 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ .Title }}</h1>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
</header>
<div class="content">
  <p>{{ if .Params.proper | default false }} {{ readFile (path.Join "layouts/shortcodes/proper/title" .Params.proper) }}<br />{{ end -}}
    {{ if .Params.liturgydate | default false }} {{ dateFormat "2 January 2006" .Params.liturgydate }}<br />
	{{else if .Params.date | default false }} {{dateFormat "2 January 2006" .Params.date }}<br />{{ end -}}
    {{ if.Params.bcppage | default false }}<em>according to the Book of Common Prayer (p. {{ .Params.bcppage }})</em>{{ end -}}
  </p>
  <h2 id="share-these-prayers"> Share These Prayers</h2>
<img id="qr_code" src="{{ printf "/images/qr/%s.png" ( replace ( strings.TrimSuffix ".md" .Page.File ) "_" "" ) }}" alt="{{ .Page.Permalink }}" width="200" />
  <p>Invite someone to scan this QR code to pray with you.</p>
  <br clear="all" />
  <hr />
{{ .Content }}

{{ if ne .Lastmod .Date }}{{ partial "dates.html" . }}{{ end -}}
</div>
</article>
</main>
{{ end }}
